<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
  <title>Hack proj name</title>
  <style>
    html,
    body,
    #viewDiv {
      padding: 0;
      margin: 0;
      height: 100%;
      width: 100%;
    }
  </style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
  <script src="https://js.arcgis.com/4.18/"></script>
  <script type="text/javascript">
    //Big ass string to parse from






    var zLongitude = [40, 38, 38, 26];
    var zLatitude = [74, 60, 50, 40]
    var temperatures = [275, 280, 290, 300];


        var outdata  = "{{ outdata }}"

    var measurements = outdata.split(':');

    measurements.forEach(element => {
      var arr = element.split(',');
      zLongitude.push(arr[0])
      zLatitude.push(arr[1])

      temperatures.push(arr[2])
    });
    //COLORS
    var purple = "#8011ff";
    var darkblue = "#5f6aff";
    var lightblue = "#49caff";
    var yellow = "#ffbf3e";
    var red = "#ee4646";

    function setColor(temp) {
      if (temp < 5.4) {
        return purple;
      } else if (temp >= 5.4  && temp < 12.8) {
        return darkblue;
      } else if (temp >=  12.8 && temp < 20.2) {
        return lightblue;
      } else if (temp >= 20.2 && temp < 27.6) {
        return yellow;
      } else if (temp >= 27.6) {
        return red;
      }
    }
    require(["esri/Map", "esri/views/SceneView", "esri/Graphic", "esri/layers/GraphicsLayer", "dojo/parser",
          "esri/geometry/support/webMercatorUtils", "dojo/dom",
          "esri/symbols/TextSymbol",
          "esri/Color",
          "esri/widgets/Search",
        ], function (Map,
          SceneView,
          Graphic, GraphicsLayer,
          parser, webMercatorUtils, dom,
          TextSymbol, Color, Search) {


          var map = new Map({
            basemap: "topo-vector",
            ground: "world-elevation",
            showLabels: true
          });

          var view = new SceneView({
            container: "viewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            scale: 50000000, // Sets the initial scale to 1:50,000,000
            center: [-101.17, 21.78] // Sets the center point of view with lon/lat
          });
          const searchWidget = new Search({
            view: view
          });
          // Adds the search widget below other elements in
          // the top left corner of the view
          view.ui.add(searchWidget, {
            position: "top-left",
            index: 2
          });





          var textLayer = new GraphicsLayer();
          map.layers.add(textLayer);



          for (i = 0; i < zLongitude.length; i++) { // Create a point 
            var textSymbol = {
              type: "text", // autocasts as new TextSymbol()
              color: "white",

              text: temperatures[i],
              xoffset: 3,
              yoffset: 3,
              font: { // autocasts as new Font()
                size: 12,
                family: "Josefin Slab",
                //  weight: "bold"
              }
            };
            var point = {
              type: "point",
              longitude: zLongitude[i],
              latitude: zLatitude[i],
            };
            var textGraphic = new Graphic({
              geometry: webMercatorUtils.geographicToWebMercator(point),
              symbol: textSymbol
            });

            textLayer.add(textGraphic);
          }


          var graphicsLayer = new GraphicsLayer();
          map.layers.add(graphicsLayer);





          for (i = 0; i < zLongitude.length; i++) { // Create a point 
            var simpleMarkerSymbol = {
              type: "simple-marker", // color: [226, 119, 40], // orange size: 30, style: "circle", outline: { color: [255, 255, 255], //
              width: 3,
              color: setColor(temperatures[i]),
              size: 30,
              outline: {
                color: [255, 255, 255], // white             
                width: 1
              }
            }
            var point = {
              type: "point",
              longitude: zLongitude[i],
              latitude: zLatitude[i],
            };
            var pointGraphic = new Graphic({
              geometry: webMercatorUtils.geographicToWebMercator(point),
              symbol: simpleMarkerSymbol
            });



            graphicsLayer.add(pointGraphic);
          }


          const buttonF = document.getElementById('buttonF');
          const buttonK = document.getElementById('buttonK');
          const buttonC = document.getElementById('buttonC');

          //turn from K to
          buttonF.onclick = function () {
            for (var i = 0; i < temperatures.length; i++) {
              temperatures[i]
            }
          }
        })
  </script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded  d-flex">
    <div class="container  d-flex">
    <a class="navbar-brand" href="#">Global Vision</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
      aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
  </nav>
  <div id="viewDiv"> </div>

</body>

</html>