<!--
Ok so, basically https://developers.arcgis.com/javascript/latest/sample-code/intro-graphics/index.html
but 3D.

I'm missing the popup template, for some reason it wont work.
We need to extract the data, put it into "Graphics" and display em on the map
Once we've done it for one Layer, we can have a toggle on/off menu of layers 
which would correspond to different climate data and boom
Climate data 3D visualizer


TODO: 
Idk how we're gonna make the data change for when we use a slider to change the years
like idk how the api will handle it, if it'll actually refresh the sphere as the dataset changes or not
We shall see, but this could be a big dealbreaker :(
-->



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>Intro to SceneView - Create a 3D map</title>
    <h1>hello</h1>
    <style>
        html,
        body,
        #viewDiv {
            padding: 0;
            margin: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="https://js.arcgis.com/4.18/esri/themes/light/main.css" />
    <script src="https://js.arcgis.com/4.18/"></script>
    <script>
        require(["esri/Map", "esri/views/SceneView","esri/Graphic", "esri/layers/FeatureLayer", "esri/layers/GraphicsLayer"], function (Map, SceneView,Graphic, FeatureLayer, GraphicsLayer) {
            var map = new Map({
                basemap: "topo-vector",
                ground: "world-elevation"
            });

            var view = new SceneView({
                container: "viewDiv", // Reference to the scene div created in step 5
                map: map, // Reference to the map object created before the scene
                scale: 50000000, // Sets the initial scale to 1:50,000,000
                center: [-101.17, 21.78] // Sets the center point of view with lon/lat
            });
/*=================================================================================*/
var textSymbol = {
  type: "text",  // autocasts as new TextSymbol()
  color: "white",
  haloColor: "black",
  haloSize: "1px",
  text: "You are here",
  xoffset: 3,
  yoffset: 3,
  font: {  // autocasts as new Font()
    size: 12,
    family: "Josefin Slab",
    weight: "bold"
  }
};

var point = {
        type: "point",
        longitude: -118.29507,
        latitude: 34.13501
      };
      var pointB = {
        type: "point",
        longitude: -100.29507,
        latitude: 34.13501
      };

      var simpleMarkerSymbol = {
        type: "simple-marker",
        color: [226, 119, 40],
        outline: {
          color: [255, 255, 255],
          width: 1
        }
      };

      //*** ADD ***//
      // Create attributes
      var attributes = {
        Name: "My point",  // The name of the
        Location: " Point Dume State Beach",  // The owner of the
      };
      // Create popup template
      var popupTemplate = {
        title: "hello",
        content: "I am located at <b>blip</b>."
      };

      var pointGraphic = new Graphic({
        geometry: point,
        symbol: simpleMarkerSymbol,
        //*** ADD ***//
        attributes: attributes,
        popupTemplate: popupTemplate
      });
      var pointGraphicB = new Graphic({
        geometry: pointB,
        symbol: simpleMarkerSymbol,
        //*** ADD ***//
        attributes: attributes,
        popupTemplate: popupTemplate
      });

    

/*=================================================================================*/

var layer = new GraphicsLayer({
    graphics: [pointGraphic ]
  });
  layer.add(pointGraphicB);
  // Add the line graphic to the view's GraphicsLayer
  map.add(layer);

        });
    </script>
</head>

<body>
    <div id="viewDiv"> <span id="layerToggle" class="esri-widget"> <input type="checkbox" id="streetsLayer" checked />
            Transportation </span></div>
</body>

</html>